@model RoomManagement.Models.ViewBookingViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
 
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.EmployeeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.DateCreated)
        </dd>
    </dl>
</div>

<hr />
<h2>Booking Allocation</h2>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">


            @foreach (var item in Model.BookingAllocations)
            {
            <li class="list-group-item">
                <h6>@item.RoomType.RoomName<span class="badge badge-secondary">@item.NumberOfDays</span></h6> |
                <a asp-action="Edit" asp-route-id="@item.BookingId" class=" btn btn-outline-warning"> @* BookingId may need to be change here*@
                    <i class="fa fa-pencil"> </i> Edit
                </a>
            </li>
            }



        </ul>
    </div>
    <div>
        <a class ="btn btn-outline-primary" asp-action="ListEmployees">Back to List</a>
    </div>
<hr />

