@model RoomManagement.Models.BookingRequestViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Approved == null)
{
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Pending Approval</h4>
        <p>
            <strong> Customer Name:</strong> @Model.EmployeeBookingRoom.FirstName @Model.EmployeeBookingRoom.LastName
        </p>
        <hr />
        <p>
            @Html.DisplayNameFor(model => model.DateRequested) -  @Html.DisplayFor(model => model.DateRequested)
        </p>
    </div>

}
else if (Model.Approved == true)
{
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Approved</h4>
        <p>
            <strong> Customer Name:</strong> @Model.EmployeeBookingRoom.FirstName @Model.EmployeeBookingRoom.LastName
        </p>
        <hr />
        <p>
            @Html.DisplayNameFor(model => model.DateRequested) -  @Html.DisplayFor(model => model.DateRequested)
        </p>
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Rejected</h4>
        <p>
            <strong> Customer Name:</strong> @Model.EmployeeBookingRoom.FirstName @Model.EmployeeBookingRoom.LastName
        </p>
        <hr />
        <p>
            @Html.DisplayNameFor(model => model.DateRequested) -  @Html.DisplayFor(model => model.DateRequested)
        </p>
    </div>
}
<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Employee
        </dt>
        <dd class="col-sm-10">
            @Model.EmployeeBookingRoom.FirstName @Model.EmployeeBookingRoom.LastName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckinDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckinDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOutDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckOutDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomType.RoomName)
        </dd>

    </dl>
</div>
<div>
    @if (Model.Approved == null)
    {
        <a class="btn btn-success" asp-action="ApproveRequest" asp-route-id="@Model.Id">
            Approve
        </a>
        <a class="btn btn-outline-danger" asp-action="RejectRequest" asp-route-id="@Model.Id">
            Rejected
        </a>
    }
    <a class="btn btn-outline-secondary" asp-action="Index">
        Back to List
    </a>



</div>
